*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 20px;
  /* line-height: 34px; */
  letter-spacing: -0.33px;
  color: #3d3d3d;
  overflow-x: hidden;
}
main {
  flex-grow: 1;
}
main,
header,
footer {
  width: 100%;
}
a {
  text-decoration: none;
  color: #3d3d3d;
}
a:hover {
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
span {
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 1px;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  letter-spacing: -0.33px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1px;
  padding: 0;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.64px;
}
ul li {
  list-style-type: none;
  /* wrapper for all */
}
.wrapper {
  display: flex;
  width: 100%;
}
/* conteiner ------------------- */
.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1004px;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid #000; */
  padding: 20px;
}
/* розділення шаблона від тіла программи ======== */
/* sidebar ==================*/
.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 325px;
  width: 100%;
  background-color: #f6f6f6;
  height: 100%;
  color: #3d3d3d;
  padding: 20px;
}
.sidebar a:hover {
  color: #ff7171;
}
.sidebar-login {
  display: flex;
  margin-left: 40px;
}
.sidebar-login__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.sidebar-menu {
  margin-top: 92px;
}
.sidebar-menu li {
  margin-bottom: 10px;
}
.sidebar-version {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #989898;
  margin-top: 5rem;
}
.sidebar-version__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  transition: 0.2s all;
}
.sidebar-version__button:hover {
  box-shadow: 5px 5px 5px #3d3d3d;
}
.sidebar-version__button a:hover {
  color: #989898;
}
.sidebar-version__button {
  border: 1px solid #989898;
  margin-right: 16px;
  transition: 0.2s all;
}
.sidebar-version__button a {
  margin: 0 16px;
  color: #989898;
  font-size: 14px;
}
.main-music__side__box__name {
  display: flex;
  flex-direction: column;
}
/* =HEADER========================= */
.header {
  display: flex;
  align-items: center;
  height: 96px;
}
.header-menu {
  display: flex;
  justify-content: right;
  width: 100%;
  /* border: 1px solid #989898; */
}

.header-menu__icons ul {
  display: flex;
  height: 32px;
}
.header-menu__icons li {
  margin-left: 1rem;
}
.header-burger {
  margin-left: 0rem;
  font-size: 16px;
  line-height: 28px;
}
.header-burger__topmenu {
  position: relative;
}
.header-burger__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-left: -7rem;
  width: 8rem;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header-burger__submenu {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.header-burger:hover .header-burger__submenu {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  top: 6rem;
}
/*MAIN****************************************** */
.main {
  margin-top: 96px;
}
.main img {
  /* display: flex; */
  width: 150px;
}
.main-music {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* border: 1px solid #989898; */
}
.main-music__side {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}
.main-music__side__box {
  /* border: 1px solid #989898; */
  /* width: 206px;
  height: 276px; */
  transition: 0.3s all;
}
.main-music__side__box img {
  width: 206px;
  height: 276px;
}
.main-music__side__box:hover {
  scale: 1.1;
}
/* grid =============== */
.main-content__grid {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  max-height: 388px;
}
/* footer*********************************** */
.footer .sidebar {
  height: 200px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}
.footer-menu__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 48px;
  height: 48px;
  margin: 40px 0;
}
.footer-items ul {
  display: flex;

  margin-right: 26px;
}
.footer-items li {
  margin-right: 5px;
}
.footer-design span {
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.01px;
  color: #989898;
  transition: all 0.25s;
}
.footer-items a {
  transition: all 0.25s;
}
.footer-items a:hover,
.footer-design a:hover {
  text-shadow: 5px 4px 4px #ff7171;
}
/*************************************************************/
@media all and (max-width: 1930px) {
  body {
    /* font-size: 2em; */
  }
  .header-burger__submenu {
    width: 10em;
  }
}
@media all and (max-width: 1250px) {
  body {
    font-size: 1em;
  }
  .sidebar-login__info h2 {
    font-size: 14px;
  }
}
@media all and (max-width: 1034px) {
  .sidebar {
    width: 15rem;
  }
  body {
    font-size: 1em;
  }
  .conteiner {
    width: 100%;
    padding-right: 50px;
    flex-wrap: wrap;
  }
  .sidebar-login {
    flex-direction: column;
    width: 7rem;
  }
  .sidebar-login img {
    width: 8rem;
    height: 10rem;
  }
  .sidebar-login__info h2 {
    font-size: 15px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 18px;
  }
  .header-menu__items a {
    font-size: 15px;
  }
  .header-burger {
    margin-right: 2rem;
  }
  .header-burger__submenu {
    width: 8em;
    font-size: 15px;
    line-height: 30px;
  }
  .main-music__side {
    flex-wrap: wrap;
  }
  .main-music__side__box img {
    width: 16rem;
    height: 18rem;
  }
  .main-music__side__box__name {
    margin: 2rem 0;
  }
  .footer .sidebar {
    width: 12rem;
  }
}
@media all and (max-width: 778px) {
  .sidebar {
    width: 15rem;
  }
  body {
    font-size: 1em;
  }
  .main-music__side {
    flex-wrap: wrap;
    padding: 0;
  }
  .main-music__side__box {
    margin-bottom: 3rem;
  }
  .main-music__side__box img {
    width: 15rem;
    height: 18rem;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 15px;
  }
  .header-menu__items a {
    font-size: 12px;
  }
  .header-burger__submenu {
    width: 8em;
    font-size: 15px;
    line-height: 30px;
  }
}
@media all and (max-width: 330px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    font-size: 1.2rem;
  }
  .sidebar {
    display: none;
  }
  .conteiner {
    padding-right: 10px;
  }
  .footer-items {
    display: none;
  }
  .header-burger__submenu {
    margin-left: -18rem;
  }
  .header-burger__submenu li {
    background-color: #ff7171;
    font-size: 50px;
    line-height: 60px;
    width: 18rem;
  }
  .footer {
    margin-top: -5rem;
  }
  .footer-design {
    width: 200px;
    padding-left: 3rem;
  }
}
